@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/css/contact-us.css">
</head>

<section>
        <div id="first-container">
            <div id="left-container">
                <a id="categories-btn" href="#">Categories <i class="fa-solid fa-chevron-down"></i></a>
            </div>
            <div id="right-container">
                <div id="right-c-1">
                    <h1 id="chead">Contact US</h1>
                </div>

                <div id="right-c-2">
                    <div id="form1">
                        <form asp-action="formm" asp-controller="Home" method="post">
                            First Name : <input type="text" name="name" id="first">
                            <br>
                            <br>
               
                            <br>
                            E-mail : <input type="email" name="email" id="mail">
                            <br>
                            <br>
                            Phone no : <input type="number" name="phoneno" id="no">
                            <br>
                            <br>
                            Gender : <input type="radio" name="gender" value="Male" id="gen">
                            <label for="html">Male</label>
                            <input type="radio" name="gender" value="Female" id="gen">
                            <label for="html">Female</label>
                            <br>
                            <br>
                            <label for="dep">Customer Department :</label>
                            <select name="dep" id="dep">
                           <option value="sale">Sales</option>
                           <option value="it">IT</option>
                            </select>
                            <br>
                            <br>
                            Message : <textarea name="message" id="textbox" cols="30" rows="10"></textarea><br>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    @Html.ActionLink("show" , "table");
                </div>
            </div>
        </div>
    </section>