@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="css/contact-us.css">
</head>

<section>
        <div id="first-container">
            <div id="left-container">
                <a id="categories-btn" href="#">Categories <i class="fa-solid fa-chevron-down"></i></a>
            </div>
                
        </div>
    </section>
    <section>
        <div id="contact-container">
            <h1>CONTACT US</h1>
            <p><a id="home1" href="#">Home</a> - <a id="contact1" href="#">Contact</a> </p>
        </div>
    </section>
    <section>
        <form action="formm" method="get">
            First Name : <input type="text" name="fname" id="first">
            <br>
            <br>
            Last Name : <input type="text" name="lname" id="last">
            <br>
            <br>
            E-mail : <input type="email" name="email" id="mail">
            <br>
            <br>
            Phone no : <input type="number" name="phoneno" id="no">
            <br>
            <br>
            Gender : <input type="radio" name="gender" value="Male" id="gen">
            <label for="html">Male</label>
            <input type="radio" name="gender" value="Female" id="gen">
            <label for="html">Female</label>
            <br>
            <br>
            <label for="dep">Customer Department :</label>
            <select name="dep" id="dep">
           <option value="sale">Sales</option>
           <option value="it">IT</option>
            </select>
            <br>
            <br>
            Message : <textarea name="textbox" id="textbox" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
        <p style="color:red">@ViewBag.message</p>
    </section>