@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="css/contact-us.css">
</head>

<section>
        <div id="first-container">
            <div id="left-container">
                <a id="categories-btn" href="#">Categories <i class="fa-solid fa-chevron-down"></i></a>
            </div>
                
        </div>
    </section>
    <section>
        <div id="contact-container">
            <h1>CONTACT US</h1>
            <p><a id="home1" href="#">Home</a> - <a id="contact1" href="#">Contact</a> </p>
        </div>
    </section>
    <section>
        <div id="form">
            <input placeholder="Name" type="text" name="" id="name">
            <input placeholder="E mail" type="text" name="" id="mail">
            <input placeholder="Message" type="text" name="" id="name">
            <button>Send Message</button>
        </div>
    </section>