<section>
        <div id="first-container">
            <div id="left-container">
                <a id="categories-btn" href="#">Categories <i class="fa-solid fa-chevron-down"></i></a>
            </div>
            <div id="right-container">
                <div id="slider">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                          <img src="images/slider1.jpg">
                        </div>
                        
                        <div id="scnd-img" class="mySlides fade">
                          <img src="images/slider2.jpg">
                        </div>
                        
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="row">
            <div class="box-icon"><i class="fa-solid fa-check four-icon"></i>Quality Product</div>
            <div class="box-icon"><i class="fa-solid fa-truck-fast four-icon"></i>Free Shipping</div>
            <div class="box-icon"><i class="fa-solid fa-arrow-right-arrow-left four-icon"></i>14-Day Return</div>
            <div class="box-icon"><i class="fa-solid fa-phone-volume four-icon"></i>24/7 Support</div>
        </div>
    </section>
    <section>
        <div id="carts-container">
            <div class="carts"><img src="images/cat-1.jpg" alt=""><h5>Men's Dresses</h5></div>
            <div class="carts"><img src="images/cat-2.jpg" alt=""><h5>Women's Dresses</h5></div>
            <div class="carts"><img src="images/cat-3.jpg" alt=""><h5>Kid's Dresses</h5></div>
        </div>
    </section>
    <section>
        <div id="row-email">
            <h1>--Stay Updated--</h1><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum animi magni commodi amet ducimus adipisci modi enim excepturi praesentium, autem voluptates nostrum, possimus obcaecati ipsa, corrupti sunt magnam! Itaque, nihil?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.voluptates aspernatur officia corporis molestiae sint quas perferendis dolor perspiciatis tempore pariatur.</p><br>
            <div id="mail">
                <input placeholder="Email Enter" id="mail-box" type="text" name="" id=""><button id="mail-btn">Subscribe</button>
            </div>
        </div>
    </section>
    <section>
        <div id="banar">
            <div id="b1" class="b">
                <img src="images/offer-1.png" alt="">
                <div class="banner-data"><h5>20% OFF THE ALL ORDER</h5><h1>Spring Collection</h1><button>Shop Now</button></div>
            </div>
            <div id="b2" class="b">
                <div class="banner-data"><h5>20% OFF THE ALL ORDER</h5><h1>Winter Collection</h1><button>Shop Now</button></div>
                <img id="b-pic-2" src="images/offer-2.png" alt="">
            </div>
        </div>
    </section>